{% extends 'base.html' %}
{% block menu %}
<div class="col-md-2">
<div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header collapse in">Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
</div><!--/.well -->
</div>
{% endblock %}
{% block content %}
<table class = "table">
  <tbody>
  <tr><th>nazwa</th><th>producent</th><th>cena</th></tr>
    {% for p in lista %}
  <tr><td><a href="/product/{{p.id}}/">{{ p.nazwa }}</a></td><td>{{p.producent}}</td><td>{{p.cena}}</td></tr>
    {% endfor %}
  </tbody>

</table>
{% endblock %}