{% extends 'index.html' %}
{% block content %}
<img src ="{{galeria.0.obraz.url}}" class="img-thumbnail">

<h2>{{product.nazwa}}</h2>
<table class = "table">
    <tbody>
        <tr>
            <td><b>Opis: </b> </td>
            <td class="col-md-2">{{product.opis}}</td>
        </tr>
        <tr>
            <td><b>Producent: </b> </td>
            <td class="span3">{{producent.nazwa}}</td>
        </tr>
        <tr>
            <td><b>Ilość sztuk: </b> </td>
            <td class="span3">{{product.iloscSztuk}}</td>
        </tr>
    </tbody>

</table>
{% endblock %}